{% include 'header.html' %}
<style>
    .home{
        padding-left: 20px;
        padding-top:10px;
        font-family:'Candara';
    }
    .sub-title{
        padding-left: 20px;
        padding-top:10px;
        font-size:40px;
        font-family:'Candara';
    }
    .news{
        padding-left: 20px;
        width: 900px;
        height: auto;
    }
</style>
</head>
<body>
    <h1 class="home">Home</h1>
    <h2 class="sub-title">NEWS</h2>
    <img class="news" src="static/news/new001.JPG">
</body>
{% include 'footer.html' %}
