{% include 'header.html' %}
    <style>
    h1{
        padding-left: 60px;
        padding-top: 20px;
    }
    .list{
        text-align: center;
        font-size: 18px;
    }
    </style>
</head>
<body>
<h1>Global League Player Draw</h1>
<div class="container my-5" id="players-table">
    <div class="row">
        <div class="col">
        <table class="table table-striped table-bordered table-hover list" width="100%">
            <thead>
                <tr>
                    <th scope="col">Pick</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Player</th>
                    <th scope="col">Position</th>
                    <th scope="col">Club</th>
                    <th scope="col">Nation</th>
                </tr>
            </thead>
            <tbody>
                {% for player in all_players %}
                    <tr>
                        <td>{{ player['ID'] }}</td>
                        <td><a href="#">{{ player['Owner'] }}</td>
                        <td>{{ player['Player'] }}</td>
                        <td>{{ player['Position'] }}</td>
                        <td>{{ player['Club'] }}</td>
                        <td>{{ player['Nation'] }}</td>
                    </tr>
                {% endfor %}
        </tbody>
</table>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
      $('#players-table').DataTable();
      $('.dataTables_length').addClass('bs-select');
    })
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
   integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
   integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>