{% include 'header.html' %}
<style>
.nation{
    font-family: 'Candara';
    color: black;
    font-size: 30px;
}
.info{
    text-align: center;
}
.flag{
    width: 290px;
    height: auto;
    padding-top:30px;
    margin: -58px 0px -24px 0 ;
}
.card{
    display: inline-block;
    border-width: 2px;
    border-color: (200,200,200);
    margin: 15px;
}
.card:hover {
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.1);
}
</style>
</head>

<body>
    {% for country in countries %}
    <div class="card">
        <a href={{ "/teams/%s"%country }}><img class="flag" {{" src=/static/nation/%s.png" % country }} href={{ "/teams/%s"%country }}></a>
        <p class="info"><a class="nation" href={{ "/teams/%s"%country }}>{{ country }}</a></p>
    </div>
    {% endfor %}

</body>
{% include 'footer.html' %}
